:root {
    --teal: #3f87a6;
    --lightgreen: #ebf8e1;
    --orange: #f69d3c
}

h1 {
    background: linear-gradient(0.25turn, var(--teal), var(--lightgreen), var(--orange));
    text-align: center;
    font-size: 200%;
    padding: 1rem;
}

main {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.searchSection {
    margin: 1rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    /* width: 20vw; */
    row-gap: 8px;
}

h2 {
    text-shadow: 1px 1px var(--teal);
    font-size: 150%;
}


button {
    background-color: var(--lightgreen);
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.history {
    border-top: 2px solid black;
}

.results {
    width: 50vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.dayForecast {
    border: 1px solid black;
}

#searchHistory li {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: var(--lightgreen);
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    border: 0.5px solid black;
}

.noRisk {
    background-color: green;
}

.lowRisk {
    background-color: yellow;
}

.moderateRisk {
    background-color: orange;
}

.highRisk {
    background-color: red;
}

.vHighRisk {
    background-color: purple;
}